* {
  box-sizing: border-box;
}


html,body{
  margin: 0;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

span{
  display: block;
}

.canvas{
  margin: 100px auto 100px;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Button{
  width: 100px;
  height: 100px;
  border: solid black 2px;
  cursor: pointer;
  transition: width 0.2s ease, height 0.2s ease;
}

.Button:hover{
  width: 110px;
  height: 110px;
}

#grey{
  background-color: gray;
}

#white{
  background-color: white;
}

#blue{
  background-color: blue;
}

#yellow{
  background-color: yellow;
}

#purple{
  background-color: purple;
}

nav{
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a{
  text-decoration: none;
  min-width: 9rem;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  border-radius: 0.2rem;
  border: solid 1px black;
  color: black;
  cursor: pointer;
  transition:0.2s ease;
}

nav a:hover{
  transform:scale(1.1);
  background-color: rgb(35, 35, 35);
  color: white;
}


